<section>
  <div>
    <h3>Pokemon</h3>
    <p>
      Pokémon são criaturas fictícias que pertencem ao universo da série de
      mesmo nome - Pokémon. Originalmente, a série foi criada como um jogo de
      videogame e, com a sua popularização, se espalhou para diversos outros
      formatos, como séries de TV, filmes e livros. A palavra pokémon é a
      contração de duas palavras em inglês: pocket, que significa bolso; e
      monster, que significa monstro. Assim, um pokémon é um "monstro de bolso",
      na tradução literal. Os jogos do gênero RPG da franquia Pokémon foram
      criados por Satoshi Tajiri em 1996. Com o sucesso do jogo, houve a
      adaptação para formatos de animação audiovisual, como animes (desenhos
      animados japoneses) e filmes. A maior parte dos pokémon sofrem
      metamorfoses, evoluindo para seres mais avançados e com uma estética
      diferente. Com o tempo também aprendem novas técnicas ou ataques, que
      podem utilizar em combate. Com o sucesso do anime no final da década de
      1990, surgiram vários outros jogos de Pokémon, os primeiros para console
      Game Boy, da empresa Nintendo. Mais tarde, foram criados jogos online de
      Pokémon, como o Pokémon Deluge e o Pokémon GO.
    </p>
  </div>
</section>
